{% extends "acogemApp/base.html" %} {% load static %} {% block content %}

<!--================ Start About Us Area =================-->
<section class="about_area section_gap">
    <div class="container">
        <div class="row">
            <div class="single_about row">
                {%for nosotros in aboutUs%}
                <div class="col-lg-6 col-md-12 text-center about_left">
                    <div class="about_thumb">
                        <img src="{{nosotros.imagenUs.url}}" class="img-fluid" alt="acerca Nosotros">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 about_right">
                    <div class="about_content">
                        <h2 align="justify">
                            Somos una Asociación sin ánimo de lucro <br> <br> Caminamos juntos hacia la unidad de los pueblos.
                        </h2>
                        <p align="justify">
                            Nuestra Misión; {{nosotros.mision}}
                        </p>
                        <p align="justify">
                            Nuestra Visión; {{nosotros.vision}}
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!--================ End About Us Area =================-->


{% endblock%}