{% extends "acogemApp/base.html" %} {% load static %} {% block content %}
<!--=====================Tabla de Anuncios===============-->



<section class="about_area section_gap1">
    <div class="container">
        <div class="card-header heading-392913">

            Requisitos para la Entrega de Alimentos

        </div>
        <br>
        <div class="row">
            <div class="single_about row">
                {% for f in foods %}
                <div class="col-lg-6 col-md-12 text-center about_left">
                    <div class="about_thumb">
                        <img src="{{ f.imagenA.url }}" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-lg-5 col-md-12 about_right">
                    <h2>Requisitos:</h2>

                    <div class="about_content">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" align="justify"><strong class="text-uppercase">  </strong></li>
                            <li class="list-group-item" align="justify"> {{ f.requisito_carta }}</li>
                            <li class="list-group-item" align="justify"> {{ f.requisito_padron }} <strong class=" heading-392913_1"> {{ f.distrito }} </strong> </li>
                            <li class="list-group-item" align="justify"> {{ f.requisito_documents }}</li>
                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>



<!---==============end Tabla ===================-->


{% endblock %}