 {% extends "acogemApp/base.html" %} {% load static %} {% block content %}
<section class="about_area section_gap1">
    <div class="container">
        <div class="row">
            <div class="single_about row">

                <div class="col-lg-12 col-md-12 about_right">
                    <div class="about_content">
                        <h3 align="justify" class="datos">
                            CONSENTIMIENTO EXPRESO PARA EL TRATAMIENTO DE DATOS DE CARÁCTER PERSONAL OBTENIDOS DIRECTAMENTE DE LOS INTERESADOS. <br>
                        </h3>
                        <br>
                        <p align="justify">
                            <strong class="datos"> INFORMACIÓN SOBRE EL RESPONSABLE/S DE TRATAMIENTO</strong> De conformidad con lo establecido en el Reglamento (UE) 2016/679 de protección de datos de carácter personal, le informamos que los datos que
                            usted nos facilite, sean suyos o de menores, serán incorporados al sistema de tratamiento de la ASOCIACIÓN DE ACOGIDA A INMIGRATES Y MARGINADOS (ACOGEM) con CIF G-82058751 y con domicilio social sito en la calle Bustamante,
                            3 – local 6 – 28045 MADRID, como responsable del tratamiento. <br> <strong class="datos">  BASE LEGITIMADORA PARA TRATAR SUS DATOS:</strong> ACOGEM tratará sus datos, el de los menores que de usted dependen y de los demás miembros
                            de su unidad familiar con su consentimiento expreso – otorgado con la firma del presente documento- , con motivo de la protección de sus intereses, por el acceso a alguna de nuestras ayudas y prestaciones o por causa de interés
                            legítimo de ACOGEM para llevar a cabo con seriedad, compromiso y servicio el acompañamiento social que precise.
                        </p>
                        <p align="justify">
                            <strong class="datos"> FINALIDADES DEL TRATAMIENTO DE SUS DATOS: </strong> Los datos serán tratados con la finalidad de ofrecerle las ayudas que ofrece ACOGEM y hacer un seguimiento de sus necesidades y prestaciones de asistencia
                            e intervención social que realizamos con usted, con los menores que de usted dependen o con los demás miembros de su unidad familiar. Si facilita datos personales de terceras personas, garantiza haber informado previamente
                            a los afectados y haber obtenido su consentimiento para esta comunicación. En caso de que los afectados sean menores de 14 años, dispone del consentimiento informado de sus padres o tutores. Sus datos serán conservados durante
                            el plazo estrictamente necesario y serán borrados cuando haya transcurrido un tiempo sin hacer uso de los mismos. Se procederá a tratar los datos de manera lícita, leal, transparente, adecuada, pertinente, limitada, exacta
                            y actualizada. Mientras no nos comunique lo contrario, entenderemos que sus datos no han sido modificados y que usted se compromete a notificarnos cualquier variación. De acuerdo con los derechos que le confiere la normativa
                            vigente podrá ejercer los derechos de acceso, rectificación, limitación de tratamiento, supresión, portabilidad y oposición al tratamiento de sus datos de carácter personal así como revocar el consentimiento prestado, dirigiendo
                            su petición a la dirección postal indicada o al correo electrónico acogem2004@yahoo.com y podrá dirigirse a la Autoridad de Control competente para presentar la reclamación que considere oportuna.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





{% endblock %}