{% extends "acogemApp/base.html" %} {% load static %} {% block content %}
<!--================ Start Area =================-->
<section class="about_area section_gap">
    <div class="container">
        <div class="main_title">
            <h2>SERVICIO DE ASESORIA JURÍDICA DE EXTRANJERÍA</h2>
        </div>
        <div class="row">
            <div class="single_about row">
                <div class="col-lg-6 col-md-12 text-center about_left">
                    {% for as in imagenAsesoria %}
                    <div class="about_thumb">
                        <img src="{{ as.imagenAs.url }}" " class="img-fluid " alt=" ">
                    </div>
                    {% endfor %}
                </div>
                <div class="col-lg-6 col-md-12 about_right ">
                    <div class="about_content ">
                        <h2 align="justify ">
                            Se atiende con cita previa
                        </h2>
                        {% for c in correo %}
                        <p align="justify ">
                            <h2>Telf: {{ c.telefono }}</h2>
                        </p>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End  Area =================-->



{% endblock %}