<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Acogem</title>
    {%load static%}

    <link rel="stylesheet" href="{% static 'acogemApp/fonts/icomoon/style.css'%}">
    <link href="https://fonts.googleapis.com/css?family=DM+Sans:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css" />

    <link rel="stylesheet" href="{% static 'acogemApp/css/modal.css'%}">


    <!--=================== Bootstrap ===================-->

    <link rel="stylesheet" href="{% static 'acogemApp/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'acogemApp/css/font-awesome.css' %}">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'acogemApp/css/animate.min.css'%}">
    <link rel="stylesheet" href="{% static 'acogemApp/css/jquery.fancybox.min.css'%}">
    <link rel="stylesheet" href="{% static 'acogemApp/css/owl.carousel.min.css'%}">
    <link rel="stylesheet" href="{% static 'acogemApp/css/owl.theme.default.min.css'%}">
    <link rel="stylesheet" href="{% static 'acogemApp/fonts/flaticon/font/flaticon.css'%}">
    <link rel="stylesheet" href="{% static 'acogemApp/css/aos.css'%}">
    <!-- MAIN CSS -->

    <!-- <link rel="stylesheet" href="{% static 'acogemApp/css/style.css'%}"> -->

    <link rel="stylesheet" href="{% static 'acogemApp/css/purecookie.css'%}">
    <link rel="stylesheet" href="{% static 'acogemApp/css/cards-gallery.css'%}">
    <link rel="stylesheet" href="{% static 'acogemApp/css/style.css'%}">

    <!--- REVISAR-->

</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    <!---div principal-->

    <div class="site-wrap" id="home-section">
        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>
        <!--=================NavBar start ===================-->
        <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
            <div class="container">
                <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="home.html"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">

                    <a class="navbar-brand" href="{% url 'Index' %}"> <img src="{% static 'acogemApp/images/logo_acoge4.png' %}" alt="logo" class="site_logo"></a>
                    <ul class="navbar-nav mx-auto">

                        <li class="nav-item  px-lg-4 ">
                            <a class="nav-link  text-expanded" href="{% url 'Index' %}">Inicio</a>
                        </li>
                        <li class="nav-item px-lg-4">
                            <a class="nav-link  text-expanded" href="{% url 'About' %}">Quiénes Somos</a>
                        </li>
                        <li class="nav-item px-lg-4">
                            <a class="nav-link  text-expanded" href="{% url 'Inscripciones' %}">Inscripciones</a>
                        </li>
                        <li class="nav-item px-lg-4">
                            <a class="nav-link  text-expanded" href="{% url 'Eventos' %}">Eventos</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Servicios
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'Alimentos' %}">Entrega de Alimentos</a>
                                <a class="dropdown-item" href="{% url 'BolsaEmpleo' %}">Bolsa de Empleo</a>
                                <a class="dropdown-item" href="{% url 'Talleres' %}">Formación Ocupacional</a>
                                <a class="dropdown-item" href="{% url 'EntregaRopa' %}">Reparto de Ropa</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'AsesoriaJuridica' %}">Asesoría Jurídica de Extranjería</a>
                            </div>
                        </li>
                        <li class="nav-item px-lg-4">
                            <a class="nav-link text-expanded" href="{% url 'Contacto' %}">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--=================NavBar End ===================-->

        <!--================= Contenido Cambiante ===================-->
        {% block content%} {% endblock %}
        <!--Start Footer-->
        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-8 map-responsive">
                                <h2 class="footer-heading mb-4">Dirección </h2>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3038.3478873002614!2d-3.695536284742727!3d40.40114337936694!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4226306fc20f99%3A0x1d184ad9c864d9b1!2sCalle%20Jos%C3%A9%20Mar%C3%ADa%20Roquero%2C%206%2C%2028045%20Madrid!5e0!3m2!1ses!2ses!4v1593595394119!5m2!1ses!2ses"
                                    width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

                            </div>

                            <div class="col-md-4 ml-auto">
                                <h2 class="footer-heading mb-4">Información</h2>

                                <ul class="list-unstyled">
                                    <li>
                                        <a href="{% url 'Cookies' %}">Política de Cookies</a>
                                    </li>
                                    <li><a href="{% url 'Anuncio' %}">Política de Privacidad</a></li>

                                </ul>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-4 ml-auto">

                        {% for c in correo %}
                        <i class="icon-envelope"> <strong> {{ c.correo }} </strong></i>
                        <br><i class="fa fa-phone-square"> <strong> &nbsp; Telf. {{ c.telefono }} </strong></i> <br> <i class="fa fa-map-marker" aria-hidden="true"> <strong>&nbsp; &nbsp; {{ c.direccion }} </strong> </i> <br>

                        <br> <i class="fa fa-clock-o" aria-hidden="true">&nbsp; Horario de Atención: <br> <br> &nbsp; &nbsp; {{ c.horario }}</i>
                        <div class="mb-8">

                        </div>
                        {% endfor %}

                        <br>

                        <h2 class="footer-heading mb-4">Siguenos</h2>
                        <a href="#about-section" class="smoothscroll pl-0 pr-3"><span class="icon-facebook"></span></a>
                        <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                        <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                        <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
                        </form>

                    </div>

                    <div class="col-md-12 text-center">
                        <div class="border-top pt-5">
                            <p>
                                <!-- Link0. -->
                                Copyright &copy;
                                <script>
                                    document.write(new Date().getFullYear());
                                </script> Todos los Derechos Reservados | ACOGEM
                            </p>
                        </div>
                    </div>

                </div>

            </div>
        </footer>


    </div>

    <!--div final-->
    <script src="{% static 'acogemApp/js/jquery-3.3.1.min.js'%}"></script>
    <script src="{% static 'acogemApp/js/popper.min.js'%}"></script>
    <script src="{% static 'acogemApp/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'acogemApp/js/owl.carousel.min.js'%}"></script>


    <script src="{% static 'acogemApp/js/jquery.sticky.js'%}"></script>
    <script src="{% static 'acogemApp/js/jquery.waypoints.min.js'%}"></script>
    <script src="{% static 'acogemApp/js/jquery.animateNumber.min.js'%}"></script>
    <script src="{% static 'acogemApp/js/jquery.fancybox.min.js'%}"></script>
    <script src="{% static 'acogemApp/js/jquery.easing.1.3.js'%}"></script>
    <script src="{% static 'acogemApp/js/aos.js'%}"></script>
    <script src="{% static 'acogemApp/js/main.js'%}"></script>
    <script src="{% static 'acogemApp/js/purecookie.js'%}"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplePagination.js/1.6/jquery.simplePagination.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script>
        baguetteBox.run('.cards-gallery', {
            animation: 'slideIn'
        });
    </script>

</body>

</html>