{% extends "acogemApp/base.html" %} {% load static %} {% block content %}
<!--================ Start Causes Area =================-->
<section class="causes_area">
    <div class="container">
        <div class="main_title">
            <h2>Bolsa de Empleo</h2>
            <p>Manos abiertas a la esperanza </p>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="single_causes">
                    {% for req in requisitos %}
                    <h2>Requisito</h2>
                    <img class="c1" src="{% static 'acogemApp/images/bolsaempleo/c1.png'%}" alt="bolsaTrabajo">
                    <p>
                        {{ req.requisito_bolsaEmpleos}}
                    </p>
                    {% endfor %}
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="single_causes">
                    {% for c in correo %}
                    <h2>Contactanos</h2>
                    <img src="{% static 'acogemApp/images/bolsaempleo/c3.png' %}" alt="">
                    <p>
                        Tlf: {{ c.telefono }} <br> <br>

                    </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Causes Area =================-->

{% endblock %}