{% extends "acogemApp/base.html" %} {% load static %} {% block content %}
<section class="about_area section_gap1">
    <div class="container">
        <div class="row">
            <div class="single_about row">

                <div class="col-lg-12 col-md-12 about_right">
                    <div class="about_content">
                        <h3 align="justify" class="datos">
                            Tu privacidad es importante para nosotros. <br>
                        </h3>
                        <br>
                        <p align="justify">En
                            <strong class="datos"> ACOGEM</strong> no utilizamos ninguna cookie, no se recaba ni cede datos de carácter personal de los usuarios a terceros,puedes visitar nuestra web tranquilamente.



                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}