{% extends "acogemApp/base.html" %} {% load static %} {% block content %}

<section class="gallery-block cards-gallery ">
    <div class="container">
        <div class="heading">
            <h2>Eventos ACOGEM</h2>
        </div>
        <div class="card-columns">
            {% for evento in galerias %}
            <div class="card">
                <a class="lightbox" href="{{ evento.imagen.url }}">
                    <img src="{{ evento.imagen.url }}" alt="Eventos Acogem" class="card-img-top " id="photo">
                </a>
                <div class="card-body">
                    <h6><a href="#">ACOGEM</a></h6>
                    <p class="text-muted card-text">{{ evento.descripcionFoto }}</p>
                </div>

            </div>

            {% endfor %}

        </div>


        <!--- pagination-->
        <nav class="dento-pagination mb-5 mt-5">
            <ul class=" pagination pagination-lg  justify-content-center mt-4">
                <li class="page-item">
                    {% if page_obj.has_previous %}
                    <a class="page-link" href="?page={{page_obj.previous_page_number}}" tabindex="-1"> Previous <i class="fa fa-angle-left fa-lg"></i></a> {% endif %}
                </li>
                <li class="page-item active">
                    {% if page_obj.has_next %}
                    <a class="page-link" href="?page={{page_obj.next_page_number}}"> Next <i class="fa fa-angle-right fa-lg"></i></a> {% endif %}
                </li>
            </ul>
        </nav>

        <!---end -->

    </div>

</section>



{% endblock %}