{% extends "acogemApp/base.html" %} {% load static %} {% block content %}


<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    <!---div principal-->


    <div class="site-wrap" id="home-section">

        <!-- end modal-->
        <!--===============div del Carousel================-->

        <div class="owl-carousel owl-1">

            {%for photos in carruselF%}
            <div class="ftco-blocks-cover-1">

                <div class="ftco-cover-1">

                    <img class="fondo img-fluid" src="{{photos.imagenesBanner.url}}" alt="Voluntarios">
                </div>

            </div>
            {% endfor %}

        </div>

        <!--===================End Div Carousel==================-->



        <!--=====================Tabla de Anuncios===============-->
        <div class="container">
            <div class=" heading-392913">
                {% for com in otrosanuncios %}
                <p> {{ com.OtrosAnuncios|default_if_none:"" }} </p>
                {% endfor %}

            </div>
        </div>

    </div>
    <!---==============end Tabla ===================-->
    <!-- ////////////Content Box 01 -->
    <section class="box-content box-1">
        <div class="container">

            <div class="row">
                <div class="col-sm-6">
                    <div class="box-item ">
                        <div class="box-item-header">
                            <a href="{% url 'Talleres' %}">
                                <h3>Talleres</h3>
                            </a>
                        </div>
                        {% for cards in fotocards %}
                        <a href="{% url 'Talleres' %}"><img src="{{cards.imagenT.url}}" title="Manualidades"></a>
                        <div class="box-item-content">
                            <a href="#"></a>
                        </div>

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="box-item ">
                        <div class="box-item-header">
                            <a href="{% url 'Alimentos' %}">
                                <h3> Alimentos</h3>
                            </a>
                        </div>

                        <a href="{% url 'Alimentos' %}"><img src="{{cards.imagenAIndex.url}}" title="Bolsas de Alimentos"></a>
                        <div class="box-item-content">
                            <a href="{% url 'Alimentos' %}"></a>
                        </div>

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="box-item ">
                        <div class="box-item-header">
                            <a href="{% url 'BolsaEmpleo' %}">
                                <h3> Bolsa de Trabajo</h3>
                            </a>
                        </div>

                        <a href="{% url 'BolsaEmpleo' %}"><img src="{{cards.imagenBolsatrabajo.url}}" title="Bolsa de Empleo"></a>
                        <div class="box-item-content">
                            <a href="#"></a>
                        </div>

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="box-item ">
                        <div class="box-item-header">
                            <a href="{% url 'AsesoriaJuridica' %}">
                                <h3>Asesoría Jurídica</h3>

                            </a>
                        </div>

                        <a href="{% url 'AsesoriaJuridica' %}"><img src="{{cards.imagenAsesoria.url}}" title="Asesoria Juridica"></a>
                        <div class="box-item-content">
                            <a href="#"></a>
                        </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ////////////end Content Box 01 -->


    <section class="ftco-section ftco-no-pt ftco-no-pb ftco-volunteer">
        <div class="container-fluid px-md-0">
            <div class="row no-gutters">
                <div class="col-md-6 img-volunteer ">
                    <div class="row no-gutters justify-content-end">
                        <div class="col-lg-7">
                            <div class="text py-5 pl-md-4 pr-md-3">
                                <h2 class="mb-4">Puedes Colaborar </h2>
                                <p class=" "> Ayudanos con: Alimentos, Ropa, Material Escolar, para manualidades.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex align-items-center bg-primary ">
                    {% for banc in otrosanuncios %}
                    <div class="about-text px-3 py-5 pl-md-5 pr-md-5 ">
                        <h2> <i class="fa fa-money"> Donación en Efectivo</i> <br><span>€</span><strong class="number " data-number="380000 "></strong></h2>
                        <p>nuestra cuenta en {{banc.nombreBanco}}: {{banc.banco}} </p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </section>



    <!--Start Footer-->
    {% endblock%}



</body>

</html>