{% extends "acogemApp/base.html" %} {% load static %} {% block content %}

<div class="card">
    <div class="site-section">
        <div class="container">
            {% for comu in inscripcion %}
            <div class="card-header heading-392913">

                {{ comu.inscripciones|default_if_none:"Inscripciones" }}

            </div>
            <br>
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="">

                <div class="media-92812">
                    <div class="text">
                        <div class="card" style="width: 21rem;">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item  " align="justify"><strong class="text-uppercase"> Para la
                                        inscripción necesitas : </strong></li>
                                <li class="list-group-item" align="justify">Fotocopia de tu documento ({{comu.requisitos}})

                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}