{% extends "acogemApp/base.html" %} {% load static %} {% block content %}

<!--================ Start Area =================-->
<section class="about_area section_gap1 ">
    <div class="container col-lg-7">
        <div class="main_title ">
            <h2>Reparto de Ropa</h2>
        </div>

        <div class="card mb-12 " style="max-width: 900px;">
            <div class="row no-gutters">
                {% for c in atencion %}
                <div class="col-md-4">
                    <img src="{{ c.imagenRopero.url }}" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">

                        <h5 class="card-title"></h5>
                        <p class="card-text">Disponemos de un ropero en el cual recibimos ropa de particulares y empresas que colaboran con la Asociación .</p>
                        <h4 class="card-text"><small class="text-muted">Atendemos: <strong> {{ c.horarioAtencion }}  </strong></small></h4>

                    </div>
                </div>
                {% endfor %}
            </div>
        </div>








        <!---   aldasf -->

    </div>
</section>
<!--================ End  Area =================-->


{% endblock %}