{% extends "acogemApp/base.html" %} {% load static %} {% block content %}

<!--================ Start About Us Area =================-->
<section class="about_area section_gap">
    <div class="container">
        <div class="main_title">
            <h2>Formación Ocupacional</h2>
        </div>
        <div class="row">
            <div class="single_about row">
                {% for talleres in formaciones %}
                <div class="col-lg-6 col-md-12 text-center about_left">
                    <div class="about_thumb">
                        <img src="/media/{{talleres.imagenFormacion}}" class="img-fluid" alt="" />
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 about_right">
                    <div class="about_content">
                        <p align="justify">
                            {{talleres.despcripcionFormacion}} <br />
                        </p>

                        <p align="justify"></p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!--================ End About Us Area =================-->

{% endblock%}